<body>
    <div style="margin-top: 10px;">
        <h2>Der Prototyp</h2>
        <p>
        In Folge einer Designstudie hat FTB-Solutions eine prototypische Anwendung eines Eventmanagementsystems entwickelt.<br>
        Der Prototyp stellt die Funktionen eines solchen Eventmanagementsystems dar.<br><br>
        Dazu zählen unter anderem:
        </p>
        <ul style="margin-left: 2%;">
            <li>Registrierung auf der Plattform</li>
            <li>Eventerstellung</li>
            <li>Eventbearbeitung</li>
            <li>Teilnehmer einladen</li>
            <li>Eventguide</li>
            <li>Einrichten von Fragebögen</li>
        </ul>
        <p><br>
        Zu den Funktionen gilt es zu erwähnen, das nicht alle der gelisteten Funktionen zu 100 Prozent funktional sind. Es sind vereinzelt lediglich
        grafische Darstellung einzelner Funktionen gegeben.
        </p>
        <p>
        Unter  <a href="https://ftb-eventmaster.de" target="_blank">FTB-Eventmaster</a> erreichen Sie unseren Prototypen und können sich ein eigenes Bild von den Funktionen machen.<br><br>
        Mit den folgenden Anmeldedaten, können Sie sich ein Bild der Anwendung aus Sicht eines Organisators machen:<br>
        </p>
        <ul style="margin-left: 2%;">
        <li>EMail: organizer@ftb-solutions.de</li>
        <li>Passwort: organizer</li>
        </ul>
        <p><br>
        Auf der Registrierungsoberfläche der Anwendung kann ein Benutzer angelegt werden. Dieser Benutzer erhält die Sicht eines Teilnehmers von Events in der Anwendung. 
        </p><br><br>
        <h3>Handhabung der Anwendung als Organisator</h3>
        <p>
        Nach der Anmeldung als Organisator landet man auf der Startoberfläche der Anwendung. Hier sind ein paar Events aufgelistet und ein Kalender, in dem diese angezeigt werden sollen.<br>
        Wenn man in der Navigationsbar auf der linken Seite "Events" wählt, kommt man auf die Eventerstellungsoberfläche. Auf der rechten Seite dieser Oberfläche befinden sich Controlls<br> 
        zum reloaden der Tabelle, erstellen von Events und Durchsuchen der Tabelle.<br> 
        Nach einem klicken auf "+", wird man auf eine Konfigurationsoberfläche weitergeleitet. Dort kann man die Daten des Events eintragen und bei bedarf einen Text für die Einladung sowie<br>
        die Benachrichtung eintragen. Zudem kann durch das aktivieren des Questionaire mittels klicken auf "create survey" ein Fragebogen erstellt werden.<br>
        In der letzten Spalte der Tabelle befinden sich die "Actions". Mit diesen ist es möglich Events zu bearbeiten, Teilnehmer einzuladen, den Eventguide zu öffnen und Events zu löschen.
        </p><br>
        <h3>Handhabung der Anwendung als Benutzer</h3>
        <p>
        Nach der Anmeldung als Benutzer landet man auf der Startoberfläche der Anwendung. Hier sind ein paar Events aufgelistet und ein Kalender, in dem diese angezeigt werden sollen.<br>
        Wenn man in der Navigationsbar auf der linken Seite "Events" wählt, kommt man auf die Eventübersichtsoberfläche. Auf dieser befinden sich Events mit Titel, Datum und Beschreibung.<br> 
        Nach einem click auf ein bestimmtes Event, erscheint nochmals eine Auflistung der Eventdaten. Darunter befindet sich ein Button "register", mit dem man sich für das Event registrieren kann.<br>
        Hat man sich für ein Event registriert, erscheint bei erneutem anclicken des Events der entsprechende Eventguide. 
        </p>
    </div>
</body>