<body>
    <div style="margin-top: 10px;">
        <h2>Der Prototyp</h2>
        <p>
        In Folge einer Designstudie hat FTB-Solutions eine prototypische Anwendung eines Eventmanagementsystems entwickelt.<br>
        Die funktionalität des Prototypen beschränkt sich auf die grundlegenden Funktionen eines solchen Eventmanagementsystems.<br>
        Dazu zählen unter anderem:
        </p>
        <ul>
            <li></li>
       </ul>
       <p>
        Unter  <a href="">FTB-Eventmaster</a> erreichen Sie unseren Prototypen und können sich ein eigenes Bild von den Funktionen machen.<br>
       </p>
    </div>
</body>