<body>
<div style="margin-top: 10px;">
    <h2>Datenschutzerklärung</h2>
    <div>
    
        Wir, FTB Solutions, nehmen den Schutz deiner persönlichen Daten sehr ernst und halten uns strikt an die Regeln der Datenschutzgesetze.<br> 
        Die nachfolgende Erklärung gibt dir einen Überblick darüber, welche Art von personenbezogenen Daten zu welchem Zweck erhoben werden und <br>
        in welchem Umfang diese Daten Dritten zugänglich gemacht werden.<br>
    
    <p style="margin-top: 10px;">
        Verantwortliche Stelle im Sinne der Datenschutzgesetze ist:<br>

        FTB Solutions<br>
        Florianstraße 15<br>
        72160 Horb am Neckar<br>
        E-Mail: i21036@hb.dhbw-stuttgart.de<br>
        Telefonnummer:
    </p>
    <p style="margin-top: 10px;">
        Erhebung und Verarbeitung von Daten<br>
        Wir erheben und verarbeiten personenbezogene Daten nur, wenn du uns diese Daten freiwillig zur Verfügung stellst. Dies geschieht zum Beispiel<br>
        im Rahmen einer Anfrage über unser Kontaktformular oder beim Abschluss eines Vertrags. Dabei handelt es sich in der Regel um folgende Daten:<br>
        <br>
        Name<br>
        Adresse<br>
        E-Mail-Adresse<br>
        Telefonnummer<br>
    </p>
    <p style="margin-top: 10px;">
        Verwendungszweck der Daten<br>
        Die von dir zur Verfügung gestellten personenbezogenen Daten verwenden wir ausschließlich zur Bearbeitung deiner Anfragen, <br>
        zur Abwicklung von Verträgen und für die technische Administration unserer Website. Eine Weitergabe deiner Daten an Dritte erfolgt nur, <br>
        wenn dies zum Zwecke der Vertragsabwicklung erforderlich ist oder du zuvor eingewilligt hast.
    </p>
    <p>
        Cookies<br>
        Unsere Website verwendet Cookies, um die Nutzung bestimmter Funktionen zu ermöglichen. Dabei handelt es sich um kleine Textdateien,<br>
        die auf deinem Endgerät gespeichert werden. Die meisten der von uns verwendeten Cookies werden nach Ende der Browser-Sitzung wieder gelöscht <br>
        (sog. Sitzungs-Cookies). Andere Cookies verbleiben auf deinem Endgerät und ermöglichen uns oder unseren Partnerunternehmen, <br>
        deinen Browser beim nächsten Besuch wiederzuerkennen (sog. dauerhafte Cookies). Du kannst deinen Browser so einstellen, dass du über das Setzen<br> 
        von Cookies informiert wirst und einzeln über deren Annahme entscheidest oder die Annahme von Cookies für bestimmte Fälle oder generell ausschließt. <br>
        Bei der Nichtannahme von Cookies kann die Funktionalität unserer Website eingeschränkt sein.<br>
        
    </p>
    <p style="margin-top: 10px;">
        Auskunftsrecht<br>
        Nach dem Bundesdatenschutzgesetz hast du ein Recht auf unentgeltliche Auskunft über deine gespeicherten Daten sowie gegebenenfalls ein Recht auf Berichtigung,<br>
        Sperrung oder Löschung dieser Daten.<br>
        <br>
        Datensicherheit<br>
        Wir setzen technische und organisatorische Sicherheitsmaßnahmen ein, um deine zur Verfügung gestellten Daten durch zufällige oder vorsätzliche Manipulation, <br>
        Verlust, Zerstörung oder den Zugriff unberechtigter Personen zu schützen. Unsere Sicherheitsmaßnahmen werden entsprechend der technologischen Entwicklung fortlaufend verbessert.
    </p>
    <p style="margin-top: 10px;">
        FTB Solutions<br>
        Florianstraße 15 <br>
        72160 Horb am Neckar<br>
        Kontakt:<br>
        E-Mail: i21036@hb.dhbw-stuttgart.de</p>
    <p style="margin-top: 10px;"> Haftungsausschluss:<br>
        Die Inhalte dieser Homepage wurden mit größtmöglicher Sorgfalt erstellt. Dennoch kann keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte übernommen werden. <br>
        Als Diensteanbieter bin ich gemäß § 7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch nicht verpflichtet,<br>
        übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. <br>
        Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werde ich diese Inhalte umgehend entfernen.</p>
    <p style="margin-top: 10px;">Urheberrecht:<br>
        Die auf dieser Homepage erstellten Inhalte und Werke unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts <br>
        bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser <br>
        Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, <br>
        bitte ich um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Inhalte umgehend entfernen.
    </p>
    </div>
</div>

</body>


