<body style="margin-top: 10px;">
    <h2>Abgaben</h2>

    <div class="abgabeBlock">
        <h3>Risikoanalyse</h3>
        <img src="assets/pictures/pdf.png" class="pdfIMG">
        <div class="pdfLinks">
            <li> <a href="assets/abgabenKW11/FTB_Solutions-Risikoanalyse.pdf" target="_blank">Öffne PDF</a></li>
            <li> <a href="assets/abgabenKW11/FTB_Solutions-Risikoanalyse.pdf" download>Download PDF</a></li>
        </div>
    </div>
    <div class="abgabeBlock">
        <h3>Risikoanalyse</h3>
        <img src="assets/pictures/pdf.png" class="pdfIMG">
        <div class="pdfLinks">
            <li> <a href="assets/abgabenKW11/FTB_Solutions-Risikoanalyse.pdf" target="_blank">Öffne PDF</a></li>
            <li> <a href="assets/abgabenKW11/FTB_Solutions-Risikoanalyse.pdf" download>Download PDF</a></li>
        </div>
    </div>
    <div class="abgabeBlock">
        <h3>Risikoanalyse</h3>
        <img src="assets/pictures/pdf.png" class="pdfIMG">
        <div class="pdfLinks">
            <li> <a href="assets/abgabenKW11/FTB_Solutions-Risikoanalyse.pdf" target="_blank">Öffne PDF</a></li>
            <li> <a href="assets/abgabenKW11/FTB_Solutions-Risikoanalyse.pdf" download>Download PDF</a></li>
        </div>
    </div>
    <div class="abgabeBlock">
        <h3>Risikoanalyse</h3>
        <img src="assets/pictures/pdf.png" class="pdfIMG">
        <div class="pdfLinks">
            <li> <a href="assets/abgabenKW11/FTB_Solutions-Risikoanalyse.pdf" target="_blank">Öffne PDF</a></li>
            <li> <a href="assets/abgabenKW11/FTB_Solutions-Risikoanalyse.pdf" download>Download PDF</a></li>
        </div>
    </div>
</body>