<body style="margin-top: 10px;">
    <h2>Abgaben</h2>
    <ul style="margin-top: 10px;">
        <li>
            <h2>KW11</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Abgabe - KW11.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW11/FTB Solutions - Abgabe - KW11 - oeffentlich.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Risikoanalyse.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW11/FTB Solutions - Risikoanalyse.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Projektplan - Stand 12032023.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW11/FTB Solutions - Projektplan - Stand 12032023.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
        </li>

        <li>
            <h2>KW12</h2>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Recherchebericht.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW12/FTB Solutions - Recherchebericht.pdf" target="_blank">Öffne PDF</a></li>
                    <li> <a href="assets/abgabenKW12/FTB Solutions - Recherchebericht.pdf" download>Download</a></li>
                </div>
            </div>
        </li>

        <li>
            <h2>KW13</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Abgabe - KW13.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW13/FTB Solutions - Abgabe - KW13 - oeffentlich.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Glossar und Lastenheft.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW13/FTB Solutions - Glossar und Lastenheft.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Designbeschreibung.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW13/FTB Solutions - Designbeschreibung.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Dokumentationskonzept.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW13/FTB Solutions - Dokumentationskonzept.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
        </li>

        <li>
            <h2>KW14</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Abgabe - KW14.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW14/FTB Solutions - Abgabe - KW14 - oeffentlich.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>
            
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Pflichtenheft.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW14/FTB Solutions - Pflichtenheft.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>

            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Glossar.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW14/FTB-Solutions - Glossar.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>

            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Pflichtenheft - V2.pdf</h3>
                  <div class="pdfLinks">
                  <li> <a href="assets/abgabenKW14/FTB Solutions - Pflichtenheft - V2.pdf" target="_blank">Öffne PDF</a></li>
                  </div>
              </div>

        </li>

        <li>
            <h2>KW15</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Abgabe - KW15.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW15/FTB Solutions - Abgabe - KW - 15 - oeffentlich.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>
            
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Designentwurf.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW15/FTB Solutions - Designentwurf.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>

            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Testkonzept.pdf</h3>
                  <div class="pdfLinks">
                  <li> <a href="assets/abgabenKW15/FTB Solutions - Testkonzept.pdf" target="_blank">Öffne PDF</a></li>
                  </div>
              </div>

        </li>

        <li>
            <h2>KW16</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Abgabe - KW16.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW16/FTB Solutions - Abgabe - KW - 16 - oeffentlich.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>

            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Pflichtenheft.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW16/FTB Solutions -  Pflichtenheft V3.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
          
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Designentwurf.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW16/FTB Solutions - Designentwurf - V3.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>

            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Testsuite KW16.pdf</h3>
                  <div class="pdfLinks">
                  <li> <a href="assets/abgabenKW16/FTB Solutions - Testsuite KW16.pdf" target="_blank">Öffne PDF</a></li>
                  </div>
              </div>

            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Story-Planung.pdf</h3>
                  <div class="pdfLinks">
                  <li> <a href="assets/abgabenKW16/FTB Solutions - Story-Planung - V1.pdf" target="_blank">Öffne PDF</a></li>
                  </div>
              </div>

        </li>

    </ul>
</body>
