<body>
<div style="margin-top: 10px;">
  
  <h2>Über uns</h2>

  <h3>Gruppenmitglieder:</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Rolle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tobias Hahn</td>
        <td>Projektleiter</td>
      </tr>
      <tr>
        <td>Lars Holweger</td>
        <td>Technischer Assistent</td>
      </tr>
      <tr>
        <td>Fabian Unger<br>  </td>
        <td>Verantwortlicher für Recherche<br>Verantwortlicher für Qualitätssicherung und Dokumentation</td>
      </tr>
      <tr>
        <td>Timo Zink</td>
        <td>Verantwortlicher für Modellierung</td>
      </tr>
      <tr>
        <td>Frank Sadoine</td>
        <td>Verantwortlicher für Tests</td>
      </tr>
      <tr>
        <td>Fabian Eilber</td>
        <td>Verantwortlicher für Implementierung</td>
      </tr>
    </tbody>
  </table>
</div>
</body>