<h1>FTB-Solutions</h1>

<div>
  Gruppenmitglieder:
<li>Projektleiter: Tobias Hahn </li>
<li>Technischer Assistent: Lars Holweger </li>
<li>Verantwortlicher für Recherche: Fabian Lukas Unger </li>
<li>Verantwortlicher für Modellierung: Timo Zink (Stellvertreter) </li>
<li>Verantwortlicher für Tests: Frank Sadoine </li>
<li>Verantwortlicher für Implementierung: Fabian Eilber </li>
<li>Verantwortlicher für Qualitätssicherung und Dokumentation: Fabian Lukas Unger </li>
</div>

<nav>
  <ul>
    <li><a routerLink="/impressum" routerLinkActive="active" ariaCurrentWhenActive="page">Impressum</a></li>
    <li><a routerLink="/abgaben" routerLinkActive="active" ariaCurrentWhenActive="page">Abgaben</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>