<body style="margin-top: 10px;">
    <h2>Private Abgaben</h2>

    <ul style="margin-top: 10px;">
        <li>
            <h2>Aufwanderfassung gesamt</h2>
            <div class="abgabeBlock">
                <h3>FTB-Solutions - Aufwandserfassung - Gesamt - 23042023.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW17/FTB Solutions - Aufwandserfassung - Gesamt - 23042023.pdf" target="_blank">Öffnen</a></li>
                    <li> <a href="assets/abgabenKW17/FTB Solutions - Aufwandserfassung - Gesamt - 23042023.pdf" download>Download</a></li>
                </div>
            </div>
        </li>

        <li>
            <h2>KW11</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Abgabe - KW11 - geschuetzt.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW11/FTB Solutions - Abgabe - KW11 - geschuetzt.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Aufwanderfassung - Stand 12032023.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW11/FTB Solutions - Aufwandserfassung - Stand 12032023.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Statusbericht KW11.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW11/FTB Solutions - Statusbericht KW11.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
        </li>


        <li>
            <h2>KW12</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Abgabe - KW12 - geschuetzt.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW12/FTB Solutions - Abgabe - KW12 - geschuetzt.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Aufwanderfassung - KW11.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW12/FTB Solutions - Aufwandserfassung - KW11.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Statusbericht KW12.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW12/FTB Solutions - Statusbericht KW12.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Besprechungsprotokoll - 16_03_2023.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW12/FTB Solutions - Besprechungsprotokoll - 16_03_2023.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
        </li>

        <li>
            <h2>KW13</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Abgabe - KW13 - geschuetzt.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW13/FTB Solutions - Abgabe - KW13 - geschuetzt.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Aufwanderfassung - KW12.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW13/FTB Solutions - Aufwandserfassung - KW12.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Statusbericht KW13.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW13/FTB Solutions - Statusbericht KW13.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
        </li>

        <li>
            <h2>KW14</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Abgabe - KW14 - geschuetzt.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW14/FTB Solutions - Abgabe - KW14 - geschuetzt.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Aufwanderfassung - KW13.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW14/FTB Solutions - Aufwandserfassung - KW13.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Statusbericht KW14.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW14/FTB Solutions - Statusbericht KW14.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
        </li>

        <li>
            <h2>KW15</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Abgabe - KW15 - geschuetzt.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW15/FTB Solutions - Abgabe - KW - 15 - geschuetzt.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Aufwanderfassung - KW14.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW15/FTB Solutions - Aufwandserfassung - KW14.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Statusbericht KW14.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW15/FTB Solutions - Statusbericht KW15.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
        </li>

        <li>
            <h2>KW16</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Abgabe - KW16 - geschuetzt.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW16/FTB Solutions - Abgabe - KW - 16 - geschuetzt.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Aufwanderfassung - KW15.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW16/FTB Solutions - Aufwandserfassung - KW15.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Statusbericht KW15.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW16/FTB Solutions - Statusbericht KW16.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
        </li>

        <li>
            <h2>KW17</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Abgabe - KW17 - geschuetzt.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW17/FTB Solutions - Abgabe - KW - 17 - geschuetzt.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Aufwanderfassung - KW16.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW17/FTB Solutions - Aufwandserfassung - KW16.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Statusbericht KW17.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW17/FTB Solutions - Statusbericht KW17.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
        </li>


    </ul>

</body>