*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.pdfIMG{
    height: 85px;
    width:  75px;
}

.abgabeBlock{
    margin-top: 10px;
    margin-left: 50px;
}

.abgabeInhaltBlock{
    margin-top: 10px;
    margin-left: 100px;
}

body{
    padding-bottom: 100px;
}