<body style="margin-top: 10px;">
    <h2>Private Abgaben</h2>

    <ul style="margin-top: 10px;">
        <li>
            <h2>KW11</h2>
            <div class="abgabeBlock">
                <h3>FTB Solutions - Agabe - KW11 - geschuetzt.zip</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW11/FTB Solutions - Abgabe - KW11 - geschuetzt.zip" download>Download .zip-Archiv</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Aufwanderfassung - Stand 12032023.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW11/FTB Solutions - Aufwandserfassung - Stand 12032023.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
            <div class="abgabeInhaltBlock">
                <h3>FTB Solutions - Statusbericht KW11.pdf</h3>
                <div class="pdfLinks">
                    <li> <a href="assets/abgabenKW11/FTB Solutions - Statusbericht KW11.pdf" target="_blank">Öffne PDF</a></li>
                </div>
            </div>
        </li>
    </ul>

</body>